@{ 
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg mx-5 px-5 my-5 rounded-5 bg-body-secondary">
        <div class="container-fluid">
            <div class="col-md-12" align="center">
                <a href="#" class="navbar-brand text-danger">ARDAFLIX</a>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
