@{
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Hoşgeldiniz.</h2>
            <p class="small">Film yönetim paneline hoşgeldiniz.</p>
        </div>
    </div>
</div>

