@using Deneme1.Models.Film
@model Film

<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
            Film Sil
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    @using (Html.BeginForm("Sil", "Film", FormMethod.Post, new { onsubmit = "filmSubmit(event, this)" }))
    {
        @Html.HiddenFor(x => x.Id)

        <div class="modal-body">
            @Model.Ad adlı filmi silmek istiyor musunuz?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hayır</button>
            <button type="submit" class="btn btn-primary">Evet</button>
        </div>
    }
</div>
